<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/layout}"
      th:with="headerText='TESTORE', footerText='Home'"
      layout:fragment="Content"
>
<body>
<div class="bg-yellow-100 mt-4 p-6 rounded-lg text-xl text-gray-700">
  <span class="ml-6 font-bold">테스토어</span><br>
  <span class="ml-6 font-bold">알아보기</span>
</div>
</body>
</html>
