<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="ButtonFragment(type, id, name, text, link, isBlack)">
<button
        th:if="${link != null and link != ''}"
        th:type="${type != null ? type : 'button'}"
        th:id="${id != null ? id : ''}"
        th:name="${name != null ? name : ''}"
        th:text="${text != null ? text : ''}"
        th:attr="onclick=|location.href='${link}'|"
        th:classappend="'focus:outline-none font-medium rounded-lg text-sm w-full px-5 py-4 mt-8 text-center whitespace-nowrap'
                       + (${isBlack} ? ' text-white bg-gray-800 hover:bg-gray-900 ' : ' text-gray-500 bg-white border-2 border-gray-300 hover:bg-gray-100')">
</button>
<button
        th:unless="${link != null and link != ''}"
        th:type="${type != null ? type : 'button'}"
        th:id="${id != null ? id : ''}"
        th:name="${name != null ? name : ''}"
        th:text="${text != null ? text : ''}"
        th:classappend="'focus:outline-none font-medium rounded-lg text-sm w-full px-5 py-4 mt-9 text-center whitespace-nowrap'
                       + (${isBlack} ? ' text-white bg-gray-800 hover:bg-gray-900 ' : ' text-gray-500 bg-white border-2 border-gray-300 hover:bg-gray-100')">
</button>
</html>