<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="ButtonFragment(type, id, name, text, link, isBlack)">
<button th:type="${type} ?: ''"
        th:id="${id} ?: ''"
        th:name="${name} ?: ''"
        th:text="${text} ?: ''"
        th:attr="onclick=|location.href='${link}'|"
        th:classappend="'focus:outline-none font-medium rounded-lg text-sm w-full px-5 mt-12 py-4 text-center'
                       + (${isBlack} ? ' text-white bg-gray-800 hover:bg-gray-900 ' : ' text-gray-500 bg-white border-2 border-gray-300 hover:bg-gray-100')">
</button>
</html>