<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="ConfigFragment">
<head>
	<!--Common Head-->
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TESTORE</title>

	<!--Common JS-->
	<script th:src="@{/common/js/tailwind.js}"></script>
	<script th:src="@{/common/js/common.js}"></script>

	<!--Common CSS -->
	<link rel="stylesheet" th:href="@{/common/css/common.css}" />
	<link rel="preload" th:href="@{/common/font/NotoSans-Regular.ttf}" as="font" type="font/ttf" crossorigin="anonymous">
	<link rel="preload" th:href="@{/common/font/NotoSansKR-Regular.otf}" as="font" type="font/otf" crossorigin="anonymous">
	<link rel="preload" th:href="@{/common/font/NotoSans-Medium.ttf}" as="font" type="font/ttf" crossorigin="anonymous">
	<link rel="preload" th:href="@{/common/font/NotoSansKR-Medium.otf}" as="font" type="font/otf" crossorigin="anonymous">
</head>
<body>

</body>
</html>