<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="ListItemFragment(item, count, like, share)">
<div class="flex items-center min-h-52 py-8 px-2 border-b-2 border-gray-100">
  <img class="w-20 object-contain" th:src="${item.imagePath} ?: ''">
  <div class="flex flex-col justify-center gap-4 w-full px-8 font-bold">
    <div class="text-[calc(0.8rem+0.2vw)] text-gray-800"
         th:text="${item.title} ?: '제목'"></div>
    <div class="text-[calc(0.7rem+0.3vw)] text-gray-500 font-medium break-all"
         th:text="${item.content} ?: '내용'"></div>
    <div class="text-[calc(0.4rem+0.4vw)] text-gray-500">
      문제수 : <span th:text="${item.examItemCount} ?: '0'"></span> / 추천수 : <span th:text="${likeCount} ?: '0'"></span> / 공유 : <span th:text="${shareCount} ?: '0'"></span></div>
  </div>
  <svg class="w-[48px] h-[48px] text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
       height="24" fill="none" viewBox="0 0 24 24">
    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
  </svg>
</div>
</html>