<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="ModalFragment(type, title, content)">
<div class="hidden flex bg-gray-900/50 overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full h-screen max-h-full">
  <div class="relative p-4 w-full max-w-md max-h-full">
    <div class="relative bg-white rounded-lg shadow">
      <div class="p-8 text-center">
        <h3 class="mb-5 text-lg font-bold text-gray-600">가입하시겠습니까?</h3><br>
        <button type="button"
                class="text-white px-10 py-2.5 bg-gray-800 hover:bg-gray-900 focus:outline-none font-medium rounded-lg text-sm inline-flex items-center text-center">
          확인
        </button>
        <button type="button"
                class="py-2.5 px-10 ms-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-gray-700 focus:z-10 focus:ring-gray-100">
          취소
        </button>
      </div>
    </div>
  </div>
</div>
</html>