<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="NotificationItemFragment(item)">
<div th:if="${item.notificationType.equals('EXAMPAPER_LIKE') || item.notificationType.equals('WORDBOOK_LIKE')}" class="flex items-center min-h-20 px-2 border-b-2 border-gray-100">
  <img  class="w-16 object-contain" th:src="@{/common/image/like.png}">
  <div class="flex flex-col justify-center gap-2 w-full px-8 font-bold">
    <div class="text-md text-gray-800">좋아요 알림</div>
    <div class="text-sm text-gray-500 font-medium">
      <span th:text="${item.senderNickname != null ? item.senderNickname : ''}"></span>님이
      당신의 '<span th:text="${item.itemTitle != null ? item.itemTitle : ''}"></span>'
      <span th:text="${item.notificationType.equals('EXAMPAPER_LIKE') ? '시험지를' : '단어장을' }"></span> 좋아합니다.
    </div>
  </div>
</div>
<div th:if="${item.notificationType.equals('BOARD_COMMENT')}" class="flex items-center min-h-20 px-2 border-b-2 border-gray-100">
  <img  class="w-16 object-contain" th:src="@{/common/image/share-main.png}">
  <div class="flex flex-col justify-center gap-2 w-full px-8 font-bold">
    <div class="text-md text-gray-800">댓글 알림</div>
    <div class="text-sm text-gray-500 font-medium">
      <span th:text="${item.senderNickname != null ? item.senderNickname : ''}"></span>님이
      당신의 '<span th:text="${item.itemTitle != null ? item.itemTitle : ''}"></span>'
       게시글에 댓글을 남겼습니다.
    </div>
  </div>
</div>
</html>