<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="ReviewItemFragment(reviewItem)">
<div class="flex flex-col gap-2 px-5 py-8">
  <div class="flex justify-between">
    <div class="w-full flex gap-1">
      <div th:each="i : ${#numbers.sequence(1, 5)}">
        <svg th:if="${i <= reviewItem.rating}" class="w-[22px] h-[22px] text-yellow-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
          <path d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"/>
        </svg>
        <svg th:if="${i > reviewItem.rating}" class="w-[22px] h-[22px] text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
             width="24" height="24" fill="none" viewBox="0 0 24 24">
          <path stroke="currentColor" stroke-width="1.1"
                d="M11.083 5.104c.35-.8 1.485-.8 1.834 0l1.752 4.022a1 1 0 0 0 .84.597l4.463.342c.9.069 1.255 1.2.556 1.771l-3.33 2.723a1 1 0 0 0-.337 1.016l1.03 4.119c.214.858-.71 1.552-1.474 1.106l-3.913-2.281a1 1 0 0 0-1.008 0L7.583 20.8c-.764.446-1.688-.248-1.474-1.106l1.03-4.119A1 1 0 0 0 6.8 14.56l-3.33-2.723c-.698-.571-.342-1.702.557-1.771l4.462-.342a1 1 0 0 0 .84-.597l1.753-4.022Z"/>
        </svg>
      </div>
    </div>
    <div class="relative right-2 z-10 block text-left">
      <th:block th:if="${#authentication.principal.id == reviewItem.memberId}">
        <div class="menu-button">
          <button type="button"
                  class="inline-flex w-full justify-center rounded-xl bg-transparent px-2 py-2 text-sm font-semibold text-gray-900 hover:bg-gray-50"
                  id="toggleMenuButton">
            <svg class="w-4 h-4 text-gray-800" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
              <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M12 6h.01M12 12h.01M12 18h.01"/>
            </svg>
          </button>
        </div>
        <div class="hidden absolute right-2 z-10 mt-1 w-32 origin-top-right rounded-md bg-white shadow-md ring-1 ring-black ring-opacity-5 focus:outline-none sm:w-44">
          <button
                  class="block w-full px-4 py-3 text-left text-xs text-gray-700 hover:bg-gray-100 focus:outline-none sm:text-sm"
                  th:onclick="'location.href=\'updateReviewForm?review=' + ${reviewItem.reviewId} + '\''"
                  id="correctButton">수정하기
          </button>
          <button
                  class="block w-full px-4 py-3 text-left text-xs text-gray-700 hover:bg-gray-100 focus:outline-none sm:text-sm"
                  th:onclick="'location.href=\'deleteReview?review=' + ${reviewItem.reviewId} + '\''"
                  id="deleteButton">삭제하기
          </button>
        </div>
      </th:block>

    </div>
  </div>
  <div class="mt-1 text-gray-900" th:text="${reviewItem.nickname != null ? reviewItem.nickname : ''}"></div>
  <div class="mt-1 text-gray-900 whitespace-pre-wrap" th:text="${reviewItem.content != null ? reviewItem.content : ''}"></div>
  <span class="text-gray-400 text-sm" th:text="${reviewItem.createdDate != null ? #temporals.format(reviewItem.createdDate, 'YY/MM/dd HH:mm') : ''}"></span>
</div>
<hr>
</html>