<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="SearchFragment()">
<div class="relative px-4 py-5">
  <input type="search" id="default-search" class="block w-full pl-4 pr-11 py-3 text-sm text-gray-900 border border-gray-300 rounded-xl bg-gray-50" placeholder="검색어를 입력해주세요." required />
  <div class="absolute h-full end-10 bottom-0 flex justify-center items-center ps-3">
    <svg class="w-4 h-4 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
    </svg>
  </div>
</div>
</html>