<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/layout}"
      th:with="headerText='WORD', footerText='Word'"
      layout:fragment="Content"
>
<th:block
        th:replace="~{common/fragments/twin-menu :: TwinMenuFragment('내 단어장', '단어장 찾아보기', '/word', '/word/search', 2)}"></th:block>
<th:block th:replace="~{common/fragments/search :: SearchFragment(wordBookSearch, ${keyword} != null ? ${keyword} : '')}"></th:block>
<div th:if="${#lists.isEmpty(items)}" class="text-gray-300 text-center font-bold mt-10">
  검색된 단어장이 없습니다.
</div>
<div th:unless="${#lists.isEmpty(items)}">
  <th:block th:each="item : ${items}">
    <th:block
            th:replace="~{common/fragments/wordbook-item :: WordBookItemFragment(${item})}">
    </th:block>
  </th:block>
</div>
</html>