<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/layout}"
      th:with="headerText='WORD', footerText='Word'"
      layout:fragment="Content"
>
<form id="wordForm" th:action="@{addWords}" method="post">
  <input th:if="${wordBookId}" type="hidden" name="book" th:value="${wordBookId != null ? wordBookId : ''}">
  <div class="block mt-8 mb-2 ml-2 text-sm font-medium text-gray-600">단어 <span th:text="${nextWordNum != null ? nextWordNum : '1'}"></span></div>
  <div class="border border-gray-400 border-2 rounded-lg px-12 pb-10 pt-3 mt-6">
    <th:block th:replace="~{common/fragments/input :: InputFragment('text', 'text1', 'text1', '한자', '')}"></th:block>
    <th:block th:replace="~{common/fragments/input :: InputFragment('text', 'text2', 'text2', '요미가나', '')}"></th:block>
    <th:block th:replace="~{common/fragments/input :: InputFragment('text', 'text3', 'text3', '한글', '')}"></th:block>
  </div>
  <th:block th:replace="~{common/fragments/button :: ButtonFragment('submit', 'submitButton', '', '단어 추가하기', '', true)}"></th:block>
  <th:block th:replace="~{common/fragments/button :: ButtonFragment('button', 'completeButton', 'completeButton', '돌아가기', '/word' , false)}"></th:block>
</form>
<script th:src="@{/word/js/word-add-form.js}"></script>
</html>