<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/layout}"
      th:with="headerText='WORD', footerText='Word'"
      layout:fragment="Content"
>
<div th:if="${#lists.isEmpty(reviewDTOList)}" class="text-gray-300 text-center font-bold mt-10">
  리뷰가 없습니다.
</div>
<div th:unless="${#lists.isEmpty(reviewDTOList)}">
  <th:block th:each="reviewItem : ${reviewDTOList}">
    <th:block th:replace="~{common/fragments/review-item :: ReviewItemFragment(${reviewItem})}"></th:block>
  </th:block>
</div>
<script th:src="@{/word/js/word-review.js}"></script>
</html>