<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/layout}"
      th:with="headerText='EXAM', footerText='Exam'"
      layout:fragment="Content"
>
<th:block th:replace="~{common/fragments/search :: SearchFragment('examReview')}"></th:block>
<th:block th:replace="~{common/fragments/review-item :: ReviewItemFragment()}"></th:block>
</html>