<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/layout}"
      th:with="headerText='EXAM', footerText='Exam'"
      layout:fragment="Content"
>
<form class="p-10" th:action="@{create}" method="post">
  <div class="flex items-center justify-center pb-4">
    <img class="w-20 object-contain" th:src="@{/common/image/exam-main.png}">
    <input type="hidden" id="imagePath" name="imagePath" value="/common/image/exam-main.png">
  </div>
  <th:block th:replace="~{common/fragments/input :: InputFragment('text', 'title', 'title', '시험지 이름')}"></th:block>
  <th:block th:replace="~{common/fragments/input :: InputFragment('text', 'content', 'content', '시험지 설명')}"></th:block>
  <th:block th:replace="~{common/fragments/submit-button :: SubmitButtonFragment('submitButton', 'submitButton', '시험지 생성', true)}"></th:block>
</form>
</html>