/* font */
@font-face {
    font-family: 'NotoSans';
    src: url('../font/NotoSansKR-Thin.otf') format('truetype');
    font-weight: 100;
    unicode-range: U+AC00-D7AF;
}

@font-face {
    font-family: 'NotoSans';
    src: url('../font/NotoSans-Thin.ttf') format('truetype');
    font-weight: 100;
    unicode-range: U+0020-007E;
}

@font-face {
    font-family: 'NotoSans';
    src: url('../font/NotoSansKR-Light.otf') format('truetype');
    font-weight: 300;
    unicode-range: U+AC00-D7AF;
}

@font-face {
    font-family: 'NotoSans';
    src: url('../font/NotoSans-Light.ttf') format('truetype');
    font-weight: 300;
    unicode-range: U+0020-007E;
}

@font-face {
    font-family: 'NotoSans';
    src: url('../font/NotoSansKR-Medium.otf') format('truetype');
    font-weight: 500;
    unicode-range: U+AC00-D7AF;
}

@font-face {
    font-family: 'NotoSans';
    src: url('../font/NotoSans-Medium.ttf') format('truetype');
    font-weight: 500;
    unicode-range: U+0020-007E;
}

@font-face {
    font-family: 'NotoSans';
    src: url('../font/NotoSansKR-Regular.otf') format('truetype');
    font-weight: 400;
    unicode-range: U+AC00-D7AF;
}

@font-face {
    font-family: 'NotoSans';
    src: url('../font/NotoSans-Regular.ttf') format('truetype');
    font-weight: 400;
    unicode-range: U+0020-007E;
}

@font-face {
    font-family: 'NotoSans';
    src: url('../font/NotoSansKR-Bold.otf') format('truetype');
    font-weight: 700;
    unicode-range: U+AC00-D7AF;
}

@font-face {
    font-family: 'NotoSans';
    src: url('../font/NotoSans-Bold.ttf') format('truetype');
    font-weight: 700;
    unicode-range: U+0020-007E;
}

* {
    font-family: NotoSans;
}